@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "注册确认";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            点击<a id="confirm-link" href="@Model.EmailConfirmationUrl">此处</a>确认您的帐户
        </p>
    }
    else
    {
        <p>
            请检查您的电子邮件以确认您的帐户.
        </p>
    }
}
